body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Avertastd-Regular';
  src: local('Avertastd-Regular'), url(./fonts/AVERTASTD-REGULAR.TTF) format('tff');
}

@font-face {
  font-family: 'Rifficfree-Bold';
  src: local('Rifficfree-Bold'), url(./fonts/RIFFICFREE-BOLD.TTF) format('tff');
}
