body {
  font-family: 'Avertastd-Regular', sans-serif;
}
.mainBG {
    background-image: url(../assets/bg/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header_logo {
  height: 100px;
  @media only screen and (max-width: 960px) {
    height: 80px;
  }
  @media only screen and (max-width: 576px) {
    height: 55px;
  }
}

.pre_logo {
  height: 60px;
  @media only screen and (max-width: 960px) {
    height: 60px;
  }
  @media only screen and (max-width: 576px) {
    height: 50px;
  }
}

.custom_input {
  color: white !important;
  font-size: 2rem !important;
  font-weight: bold;
  border: none;
  text-align: right;
  border-radius: 10px;
}

.form-control {
  background-color: #00547f !important;
  @media only screen and (max-width: 960px) {
    background-color:  #3a8eb8 !important;
  }
}

.connectWalletBtn {
  background: #64c3f4 !important;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px #00547f, 10px 10px #00547f;
  &:focus {
    box-shadow: 5px 5px #00547f, 10px 10px #00547f;
  }
}

.glass_bg,
.glass_bg_res {
  border-radius: 10px;
  background: rgba($color: #00547f, $alpha: 0.5);
  backdrop-filter: saturate(180%) blur(3.5px);
  box-shadow: 4px 4px 10px rgba(0, 85, 127, 0.8);
}

.glass_bg_res {
  @media only screen and (max-width: 960px) {
    background: rgba($color: #00547f, $alpha: 0.8);
  }
}

.glass_bg_dark {
  border-radius: 10px;
  background: rgba($color: #00547f, $alpha: 0.8);
  backdrop-filter: saturate(180%) blur(3.5px);
}

.input_sec {
  background-color: #00547f;
  border-radius: 10px;
  @media only screen and (max-width: 960px) {
    background-color: #3a8eb8;
  }
}

.btn_light {
  background-color: #fefefe;
  color: #00547f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
}

.conect_btn {
  background-color: #00547f;
  border-radius: 10px;
  border: none;
  border: 1px solid;
}

.bg_blur {
  backdrop-filter: saturate(180%) blur(8px);
}

.border_radius {
  border-radius: 10px;
}

.modal-content {
  border-radius: 10px !important;
  background-color: #00547f !important;
}

.count_bg {
  background-color: rgba($color: #00547F, $alpha: 0.6);
}

.count_text {
  font-weight: normal;
  font-size: 5.5rem;
  font-family: "Bebas Neue", sans-serif;
  @media only screen and (max-width: 576px) {
    font-size: 3.25rem;    
  }
}

.notch_btn {
  --notchSize: 15px;
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% 100%,
    100% 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize)),
    0% 0%
  );

  border-radius: 10px 20px;
  background-color: #00547f;
  border: none;
  border: 1px solid;
}

.footer_icon {
  height: 40px;
  @media only screen and (max-width: 789px) {
    height: 30px;
  }
}

.progress_bar {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  .bar {
    background-color: #ff7100;
    border-radius: 25px;
    height: 25px;
  }
}

.footer_bg {
  background-color: rgba(1, 84, 128, 0.6);
}
.contribution-btn {
  width: 100%;
}
.contribution-btn:hover, .wallet-btn, .wallet-btn:hover, .conect_btn, .conect_btn:hover{
  background: rgba(0, 84, 127, 0.7);
}

.pre_font {
  position: relative;
  
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  .upper_txt {
    position: absolute;
    color: #00547F;
    top: -4px;
    font-family: 'Rifficfree-Bold', sans-serif;
  }

  .lower_txt {
    color: #509D3F;
    font-weight: bold;
  }
  @media only screen and (max-width: 576px) {
    h1 {
      font-size: 2.5rem;
    }
    
  }
}

.stg_font {
  position: relative;
  letter-spacing: 3px;
    
  .upper_txt {
    position: absolute;
    color: white;
    top: -3px;
    font-family: 'Rifficfree-Bold', sans-serif;
  }

  .lower_txt {
    color: #0071AB;
    font-weight: bold;
  }
  @media only screen and (max-width: 576px) {
    h1 {
      font-size: 1.75rem;
    }
  }
}

.end_font {
  position: relative;
  letter-spacing: 3px;
  h2 {
    font-size: 1.5rem;
  }
  .upper_txt {
    position: absolute;
    color: white;
    top: -3px;
    font-family: 'Rifficfree-Bold', sans-serif;
  }

  .lower_txt {
    color: #509D3F;
    font-weight: bold;
    width: fit-content
  }
  @media only screen and (max-width: 576px) {
    h2 {
      font-size: 1.5rem;
    }
  }
}

.cnt_sec {
  .pig_img {
    height: 180px;
  }
  @media only screen and (max-width: 576px) {
    .pig_img {
      height: 180px;
    }
    h1 {
      font-size: 1.9rem;
    }
  }
  
}

.page-loading {
  text-align: center;
  margin: auto;
}

.py-lg-header {
  @media (min-width: 992px) {
    padding-top: 2rem !important;
    padding-bottom: 2.5rem !important;
  }  
}

.account-loading {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.justify-content-space-between {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.claim-box {
  span {
    font-size: 1.4rem;
  }

  .lock-text {
    span {
      color: rgb(201, 201, 201);
    }
  }
}