
.dashboard {
  
  .balance-table {
    td:nth-child(1) {
      width: 100px;
      font-weight: bold;
    }
  }
  
  .pool-table {
    td:nth-child(1) {
      width: 150px;
      font-weight: bold;
    }
  }
  
  .swap-button-group {
    button {
      min-width: 80px;
    }
  }
  
  .info-table {
    td:nth-child(1) {
      width: 150px;
      font-weight: bold;
    }
  }
}
