
.root-cotainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-cotainer {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  flex: 1;
}

.main-content {
  flex: 1
}

.main-nav {
  width: 270px;
  margin-right: 20px;
  border-right: #ebebeb 1px solid;
  
  ul {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      a {
        color: black;
        .nav-link-icon {
          width: 20px;
          margin-right: 10px;
        }
      }

      a.active {
        box-shadow: rgb(31 199 212) 4px 0px 0px inset;
        background-color: rgba(31, 199, 212, 0.2);
      }
    }

    li:hover {
      background-color: rgb(228, 228, 228);
    }
  }
}